{% extends "_layout" %}

{% set bodyClass = 'body--bg-footer-color' %}
{% block bodyClass %}
    {% if bodyClass is defined %}
        <body class="{{ bodyClass }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid  archives">
        {% for entry in craft.entries.section('blog').level(1) %}

            {% set firstChildEntry = entry.getChildren().first() %}
            {% set lastChildEntry = entry.getChildren().last() %}

            {% if firstChildEntry %}
                <div class="archives__block  col-1-2">
                    <a href="{{firstChildEntry.url}}" class="archives__link">
                        <div class="archives__overlay"></div>
                        <img src="{{ entry.archiveImage.first().getUrl('archiveThumbnail') }}" class="archives__image" alt="{{entry.title}}">
    
                        <figcaption class="archives__caption">
                            <span class="archives__day">
                                {% if entry.getChildren().total() > 1 %}
                                    {{ entry.getChildren().total() }} days of
                                {% endif %}
                            </span>
                            <h1 class="archives__title">{{ entry.title }}</h1>
                        </figcaption>
    
                        <h2 class="archives__period  archives__period--date">
                            {{ lastChildEntry.postDate | date("j M") }}{% if entry.getChildren().total() > 1 %} - {{ firstChildEntry.postDate | date("j M") }}{% endif %}
                        </h2>
    
                        {% set firstChildYear = firstChildEntry.postDate | date("Y") %}
                        {% set lastChildYear = lastChildEntry.postDate | date("Y") %}
                        <span class="archives__period  archives__period--year">
                            {{ lastChildYear }}{% if lastChildYear != firstChildYear %} - {{ firstChildYear }}{% endif %}
                        </span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/_footer' %}
{% endblock %}
