@charset "UTF-8";
/**
 * #SETTINGS
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/* =======================
   Settings/Global
   ======================= */
/* =======================
   Settings/Colors
   ======================= */
/* =======================
   Settings/Transitions
   ======================= */
/* =======================
   Settings/Heights
   ======================= */
/**
 * #TOOLS
 */
/* =======================
   Tools/Mixins
   ======================= */
/* =======================
   Tools/Aliases
   ======================= */
/**
 * #GENERIC
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/**
 * #BASE
 */
/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #333;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

/* =======================
   Base/Page
   ======================= */
html {
  font-family: 'Arial', sans-serif;
  font-weight: 300; }
  html.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden; }

html, body {
  height: 100%; }

body.pushed {
  left: 0;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease; }

body.body--bg-footer-color {
  background: #F9F9F9; }

body.body--404 .page-head__right {
  display: none; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6.
 */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143; }

/* =======================
   Base/Type
   ======================= */
/**
 * Typographical base selectors.
 */
/**
 * Headings 1–6.
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.0909090909; }

.heading-sub {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0; }

/* =======================
   Base/Links
   ======================= */
a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

/* =======================
   Base/Fonts
   ======================= */
@font-face {
  font-family: "Noto-Serif";
  src: url("/assets/fonts/Noto-Serif/NotoSerif.eot");
  src: url("/assets/fonts/Noto-Serif/NotoSerif.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Noto-Serif/NotoSerif.woff") format("woff"), url("/assets/fonts/Noto-Serif/NotoSerif.ttf") format("truetype"), url("/assets/fonts/Noto-Serif/NotoSerif.svg#LLCircularWeb-Bold") format("svg"); }

@font-face {
  font-family: "Univers";
  src: url("/assets/fonts/Univers/Univers.eot");
  src: url("/assets/fonts/Univers/Univers.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Univers/Univers.woff") format("woff"), url("/assets/fonts/Univers/Univers.ttf") format("truetype"), url("/assets/fonts/Univers/Univers.svg#LLCircularWeb-Book") format("svg"); }

@font-face {
  font-family: "Univers-Light";
  src: url("/assets/fonts/Univers-Light/Univers-Light.eot");
  src: url("/assets/fonts/Univers-Light/Univers-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Univers-Light/Univers-Light.woff") format("woff"), url("/assets/fonts/Univers-Light/Univers-Light.ttf") format("truetype"), url("/assets/fonts/Univers-Light/Univers-Light.svg#LLCircularWeb-Book") format("svg"); }

@font-face {
  font-family: "Univers-Bold";
  src: url("/assets/fonts/Univers-Bold/Univers-Bold.eot");
  src: url("/assets/fonts/Univers-Bold/Univers-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Univers-Bold/Univers-Bold.woff") format("woff"), url("/assets/fonts/Univers-Bold/Univers-Bold.ttf") format("truetype"), url("/assets/fonts/Univers-Bold/Univers-Bold.svg#LLCircularWeb-Book") format("svg"); }

@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri/Calibri.eot");
  src: url("/assets/fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Calibri/Calibri.woff") format("woff"), url("/assets/fonts/Calibri/Calibri.ttf") format("truetype"), url("/assets/fonts/Calibri/Calibri.svg#LLCircularWeb-Book") format("svg"); }

/* =======================
   Base/Horizontal Rule
   ======================= */
hr {
  margin-bottom: 0; }

/* =======================
   Base/Select
   ======================= */
::-moz-selection {
  background-color: #FF4D5B;
  color: #FFF; }
::selection {
  background-color: #FF4D5B;
  color: #FFF; }

/*------------------------------------*    #LISTS
\*------------------------------------*/
/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none; }

/**
 * #OBJECTS
 */
/*------------------------------------*    #WRAPPERS
\*------------------------------------*/
.wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px; }
  @media screen and (min-width: 45em) {
    .wrapper {
      padding-right: 24px;
      padding-left: 24px; } }

/*------------------------------------*    #BUTTONS
\*------------------------------------*/
/**
 * A simple button object.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  overflow: visible;
  /* [6] */
  padding: 11px 23px;
  /* [7] */
  background-color: #4a8ec2;
  border: 1px solid #4a8ec2; }
  .btn, .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
    /* [4] */
    color: #fff; }

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * The inuitcss layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */
/**
 * Begin a layout group.
 */
.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px; }

/**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     * 5. Required to combine fluid widths and fixed gutters.
     */
.layout__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */ }

/**
     * Layouts with huge gutters.
     */
.layout--huge {
  margin-left: -96px; }
  .layout--huge > .layout__item {
    padding-left: 96px; }

/**
     * Layouts with no gutters.
     */
.layout--flush {
  margin-left: 0; }
  .layout--flush > .layout__item {
    padding-left: 0; }

/*------------------------------------*    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box {
  display: block;
  /* [1] */
  padding: 24px; }
  .box > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 24px; }
  .media__img > img {
    display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body,
  .media__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #BLOCK
\*------------------------------------*/
/**
 * The block object simply stacks an image on top of some text-like content.
 */
/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */
.block {
  display: block; }

/**
     * 1. Eliminate whitespace around images.
     */
.block__img {
  vertical-align: middle;
  /* [1] */
  margin-bottom: 24px; }

/**
     * Text-content.
     */
.block__body {
  display: block; }

/**
 * #COMPONENTS
 */
/* =======================
   Components/Preloader
   ======================= */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000; }

.preloader__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -19px;
  margin-top: -24px;
  z-index: 1001; }

.preloader__bar {
  background-color: #000;
  display: inline-block;
  width: 6px;
  height: 36px;
  animation: loading 1s ease-in-out infinite; }
  .preloader__bar:nth-child(1) {
    animation-delay: 0; }
  .preloader__bar:nth-child(2) {
    animation-delay: 0.09s; }
  .preloader__bar:nth-child(3) {
    animation-delay: .18s; }
  .preloader__bar:nth-child(4) {
    animation-delay: .27s; }

@keyframes loading {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1, 1.8); }
  40% {
    transform: scale(1); } }

.preloader__overlay {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translateX(0); }

/* After Loaded */
.loaded .preloader__overlay {
  opacity: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .preloader {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s 1s ease-out; }

.loaded .preloader__inner {
  opacity: 0;
  transition: all 0.3s ease-out; }

/* =======================
   Components/404 Page
   ======================= */
.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.not-found__overlay {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.not-found__inner {
  display: table;
  height: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  /*
        @include media-query(lap-and-up) {
            max-width: 480px;
        }
*/ }

.not-found__block {
  color: #FFF;
  display: table-cell;
  font-family: "Univers-Bold";
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

.not-found__title {
  letter-spacing: .06em;
  margin-bottom: 12px;
  font-size: 140px;
  font-size: 8.75rem;
  line-height: 1; }

.not-found__subtitle {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

.not-found__text {
  font-family: 'Calibri';
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

.not-found__link {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-family: 'Calibri';
  transition: all 300ms ease;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }
  .not-found__link:focus, .not-found__link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0); }

/* =======================
   Components/Nav
   ======================= */
.nav {
  color: #FFF;
  background: #1C1C1C;
  height: 100%;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(320px);
  transition: all 300ms ease;
  width: 320px; }
  .nav.pushed {
    transform: translateX(0); }

.nav__inner {
  padding: 26px 24px; }

.nav__header-title {
  font-family: 'Calibri';
  letter-spacing: 0.06em;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1; }

.nav__list {
  margin-left: 0;
  margin-bottom: 0; }

.nav__item {
  list-style: none;
  margin-bottom: 36px; }
  .nav__item:last-child {
    margin-bottom: 0; }

.nav__link {
  display: block; }
  .nav__link:focus .nav__day, .nav__link:hover .nav__day,
  .nav__link:focus .nav__title, .nav__link:hover .nav__title {
    opacity: 0.9; }
  .nav__link:focus .nav__overlay, .nav__link:hover .nav__overlay {
    background: rgba(0, 0, 0, 0.3); }

.nav__crop {
  height: 153px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative; }

.nav__overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  transition: all 300ms ease;
  width: 100%; }

.nav__image {
  transition: all 300ms ease; }

.nav__day {
  color: #FFF;
  font-family: "Univers-Bold";
  margin-bottom: 0;
  opacity: 0.6;
  padding-bottom: 4px;
  transition: all 300ms ease;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1; }

.nav__title {
  color: #FFF;
  font-family: "Univers-Bold";
  margin-bottom: 0;
  opacity: 0.6;
  transition: all 300ms ease;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.4; }

/* =======================
   Components/Page Head
   ======================= */
.page-head {
  position: fixed;
  top: 0;
  transition: all 300ms ease;
  transform: translateX(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 10000; }

.page-head__item {
  height: 22px;
  position: absolute;
  top: 24px; }

.page-head__left {
  left: 24px;
  transition: all 300ms ease; }
  .page-head__left.pushed {
    transform: translateX(-320px); }

.page-head__right {
  right: 24px; }
  .page-head__right.hide {
    opacity: 0;
    visibility: hidden; }

.page-head__icon {
  display: inline-block; }

.page-head__title {
  color: #FFF;
  font-family: 'Calibri';
  left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1; }
  .page-head__title.color-black {
    color: #1C1C1C; }

.page-head__title-link {
  color: inherit;
  transition: all 200ms ease; }
  .page-head__title-link:focus, .page-head__title-link:hover {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1;
    text-decoration: none; }

/* =======================
   Components/Archive Icon
   ======================= */
.archive-icon {
  height: 18px;
  transition: all 150ms ease;
  width: 18px; }
  .archive-icon:focus .archive-icon__block, .archive-icon:hover .archive-icon__block {
    margin-bottom: 0; }
  .archive-icon:focus .archive-icon__item, .archive-icon:hover .archive-icon__item {
    margin-right: 0; }

.archive-icon__block {
  height: 4px;
  margin-bottom: 3px;
  transition: all 150ms ease; }
  .archive-icon__block:last-child {
    margin-bottom: 0; }

.archive-icon__item {
  background: #FFF;
  height: 4px;
  float: left;
  margin-right: 3px;
  transition: all 150ms ease;
  width: 4px; }
  .archive-icon__item:last-child {
    margin-right: 0; }
  .archive-icon__item.open {
    background: #1C1C1C; }
  .archive-icon__item.color-black {
    background: #1C1C1C; }
  .archive-icon__item.color-white {
    background: #FFF; }

/* =======================
   Components/Hamburger Menu
   ======================= */
.hamburger-menu {
  cursor: pointer;
  height: 20px;
  margin-left: 12px;
  transform: rotate(0);
  transition: all 300ms ease;
  width: 22px; }
  .hamburger-menu.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg); }
  .hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: 12px !important; }
  .hamburger-menu.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg); }
  .hamburger-menu.open span.color-white {
    background: #FFF; }
  .hamburger-menu:hover span:nth-child(2) {
    width: 14px;
    left: 4px; }

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 200ms ease; }
  .hamburger-menu span:nth-child(1) {
    top: 3px; }
  .hamburger-menu span:nth-child(2) {
    top: 10px; }
  .hamburger-menu span:nth-child(3) {
    top: 17px; }
  .hamburger-menu span.color-black {
    background: #1C1C1C; }

/* =======================
   Components/Archives
   ======================= */
.archives {
  background: #F9F9F9;
  margin: 0; }

.archives__block {
  height: 100%;
  overflow: hidden;
  position: relative; }

.archives__list {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.archives__link {
  height: 100%;
  margin: 0;
  width: 100%; }
  .archives__link:focus, .archives__link:hover {
    text-decoration: none; }
  .archives__link:focus .archives__image, .archives__link:hover .archives__image {
    transform: translateZ(0) scale(1.04, 1.04); }
  .archives__link:focus .archives__period--date, .archives__link:hover .archives__period--date {
    opacity: 1;
    left: -27.5%; }
  .archives__link:focus .archives__period--year, .archives__link:hover .archives__period--year {
    opacity: 1;
    right: -27.5%; }

.archives__overlay {
  background: #000;
  height: 100%;
  opacity: .36;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.archives__image {
  backface-visibility: hidden;
  display: block;
  height: auto;
  max-width: 100%;
  position: relative;
  transition: transform 0.4s;
  transform: translateZ(0) scale(1, 1);
  vertical-align: top;
  z-index: 0; }

.archives__caption {
  top: 51%;
  color: #FFF;
  height: auto;
  padding: 24px 48px;
  position: absolute;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  width: 100%;
  z-index: 2; }

.archives__day {
  font-family: "Univers";
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4; }

.archives__title {
  font-family: "Univers-Bold";
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.2; }

.archives__period {
  color: #FFF;
  letter-spacing: 0.02em;
  font-family: "Univers";
  font-smoothing: antialiased;
  margin: 27.5% 0 0 0;
  opacity: 1;
  outline: 1px solid transparent;
  position: absolute;
  text-align: center;
  top: 0;
  transform-origin: 50% 51%;
  transition: opacity 400ms linear,right 400ms ease,left 400ms ease;
  width: 56.25%;
  z-index: 2;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4; }

.archives__period--date {
  backface-visibility: hidden;
  transform: translateZ(0) rotateZ(270deg) translate3d(0, 0, 0);
  left: -40%;
  margin-left: 30px; }

.archives__period--year {
  backface-visibility: hidden;
  transform: translateZ(0) rotateZ(90deg) translate3d(0, 0, 0);
  margin-right: 30px;
  right: -40%; }

/* =======================
   Components/Container
   ======================= */
.container {
  height: 100%;
  left: 0;
  position: relative;
  transition: all 300ms ease; }
  .container.pushed {
    transform: translateX(-320px); }

/* =======================
   Components/Overlay
   ======================= */
.overlay {
  background: #FFF;
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: all 300ms ease;
  width: 100%;
  visibility: hidden;
  z-index: 1000; }
  .overlay.pushed {
    opacity: 0.9;
    transform: translateX(-320px);
    visibility: visible; }

/* =======================
   Components/Content Block
   ======================= */
.content-block {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 48px; }
  .content-block:first-child {
    padding-top: 96px; }
  @media screen and (min-width: 45em) {
    .content-block {
      padding-bottom: 96px; } }
  @media screen and (min-width: 64em) {
    .content-block {
      padding-left: 0;
      padding-right: 0; } }
  .content-block.image--full-width {
    padding-left: 0;
    padding-right: 0; }

/* =======================
   Components/Video
   ======================= */
.video {
  margin: 0 auto;
  max-width: 980px; }

.video__inner {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.video__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* =======================
   Components/Entry Header
   ======================= */
.entry-header {
  position: relative; }

.entry-header__gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 19%, transparent 81%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.entry-header__text-block {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  z-index: 100; }
  @media screen and (min-width: 64em) {
    .entry-header__text-block {
      bottom: 48px;
      left: 72px;
      right: 48px; } }

.entry-header__day {
  color: #FFF;
  font-family: "Univers-Bold";
  margin-bottom: 6px;
  text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4; }
  @media screen and (min-width: 45em) {
    .entry-header__day {
      margin-bottom: 12px;
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 1; } }
  @media screen and (min-width: 64em) {
    .entry-header__day {
      margin-bottom: 24px;
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1; } }

.entry-header__title {
  color: #FFF;
  font-family: "Univers-Bold";
  margin-bottom: 0;
  max-width: 80%;
  text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1; }
  @media screen and (min-width: 45em) {
    .entry-header__title {
      font-size: 60px;
      font-size: 3.75rem;
      line-height: 1; } }
  @media screen and (min-width: 64em) {
    .entry-header__title {
      max-width: 60%;
      font-size: 80px;
      font-size: 5rem;
      line-height: 1; } }

/* =======================
   Components/Responsive Image
   ======================= */
.responsive-image__inner {
  position: absolute;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

.responsive-image__overlay {
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

/* =======================
   Components/Story
   ======================= */
.story {
  color: #797979;
  font-family: "Calibri";
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 96px !important;
  padding-bottom: 96px !important;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333; }
  @media screen and (min-width: 45em) {
    .story {
      padding-top: 192px !important;
      padding-bottom: 192px !important; } }
  @media screen and (min-width: 64em) {
    .story {
      padding-top: 240px !important;
      padding-bottom: 240px !important; } }

.story p:last-child {
  margin-bottom: 0; }

.story a {
  border-bottom: 1px solid #797979;
  color: #797979;
  display: inline-block;
  font-family: "Calibri";
  transition: all 300ms ease;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333; }
  .story a:focus, .story a:hover {
    border-bottom: 1px solid #333333;
    color: #333333;
    text-decoration: none; }

.story li {
  line-height: 1.2;
  margin-bottom: 12px; }

/* =======================
   Components/Image
   ======================= */
.image {
  margin: 0 auto; }

.image--small {
  max-width: 480px; }

.image--medium {
  max-width: 980px; }

.image--full-width img {
  width: 100%; }

.image__caption {
  color: #797979;
  display: block;
  font-family: "Calibri";
  letter-spacing: 0.02em;
  max-width: 320px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333; }

/* =======================
   Components/Pagination
   ======================= */
.pagination__link {
  background: #000; }
  .pagination__link:focus .pagination__overlay, .pagination__link:hover .pagination__overlay {
    opacity: 0.5; }
  .pagination__link:focus .pagination__image, .pagination__link:hover .pagination__image {
    transform: scale(1.05, 1.05); }

.pagination__inner {
  position: relative;
  overflow: hidden; }

.pagination__block {
  display: inline-block;
  position: relative;
  padding: 48px 24px;
  width: 100%;
  z-index: 10; }
  @media screen and (min-width: 45em) {
    .pagination__block {
      padding: 72px 24px; } }

.pagination__overlay {
  background: #000;
  height: 100%;
  opacity: 0.55;
  position: absolute;
  transition: all 400ms ease;
  width: 100%;
  z-index: 10; }

.pagination__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 400ms ease;
  transform: scale(1, 1);
  z-index: 0; }

.pagination__text {
  color: #FFF;
  display: block;
  font-family: "Univers-Bold";
  margin-bottom: 24px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }
  @media screen and (min-width: 45em) {
    .pagination__text {
      margin-bottom: 36px; } }
  .pagination__text.pagination__text--next {
    text-align: right; }

.pagination__day {
  color: #FFF;
  font-family: "Univers-Bold";
  margin-bottom: 12px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1; }
  @media screen and (min-width: 45em) {
    .pagination__day {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1; } }
  .pagination__day.pagination__day--next {
    text-align: right; }

.pagination__title {
  color: #FFF;
  float: left;
  font-family: "Univers-Bold";
  margin-bottom: 0;
  max-width: 82%;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.1; }
  @media screen and (min-width: 45em) {
    .pagination__title {
      max-width: 70%;
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1.1; } }
  @media screen and (min-width: 64em) {
    .pagination__title {
      max-width: 55%; } }
  .pagination__title.pagination__title--next {
    text-align: right;
    float: right; }

/* =======================
   Components/Page Foot
   ======================= */
.page-foot {
  background: #F9F9F9;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 45em) {
    .page-foot {
      padding-top: 72px;
      padding-bottom: 72px; } }

.page-foot__inner {
  margin: 0 auto;
  max-width: 980px; }

/* =======================
   Components/About
   ======================= */
.about {
  padding-bottom: 48px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }
  @media screen and (min-width: 64em) {
    .about {
      padding-bottom: 0; } }
  .about.about--me {
    padding-bottom: 0; }

.about__title {
  color: #666666;
  font-family: "Univers-Bold";
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.about__border {
  margin-bottom: 0;
  max-width: 20px;
  padding-top: 12px;
  padding-bottom: 12px; }

.about__content {
  color: #797979;
  font-family: "Calibri";
  margin-bottom: 12px; }
  .about__content:last-child {
    margin-bottom: 0; }

.about__link-list {
  list-style: none;
  margin: 0; }

.about__link {
  border-bottom: 1px solid #797979;
  color: #797979;
  display: inline-block;
  font-family: "Calibri";
  transition: all 300ms ease;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }
  .about__link:focus, .about__link:hover {
    border-bottom: 1px solid #333333;
    color: #333333;
    text-decoration: none; }

/* =======================
   Components/Grid
   ======================= */
[class*='col-'] {
  float: left; }

.grid {
  width: 100%;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.mobile-col-1-1 {
  width: 100%; }

@media screen and (min-width: 45em) {
  .col-1-2 {
    width: 50%; } }

/**
 * #TRUMPS
 */
/*------------------------------------*    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after,
.box:after,
.media:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Remove paddings.
     */
.u-p0 {
  padding: 0 !important; }

.u-pt0 {
  padding-top: 0 !important; }

.u-pr0 {
  padding-right: 0 !important; }

.u-pb0 {
  padding-bottom: 0 !important; }

.u-pl0 {
  padding-left: 0 !important; }

.u-ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.u-pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*------------------------------------*    #SPACING-RESPONSIVE
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6’s corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333; }

.beta {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

.epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143; }

/*------------------------------------*    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`). Use these in your markup:
 *
 * <div class="u-7/12">
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important; }

.u-1\/3 {
  width: 33.3333333333% !important; }

.u-2\/3 {
  width: 66.6666666667% !important; }

.u-1\/4 {
  width: 25% !important; }

.u-2\/4 {
  width: 50% !important; }

.u-3\/4 {
  width: 75% !important; }

.u-1\/5 {
  width: 20% !important; }

.u-2\/5 {
  width: 40% !important; }

.u-3\/5 {
  width: 60% !important; }

.u-4\/5 {
  width: 80% !important; }

/*------------------------------------*    #WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
 * Responsive width classes based on your responsive settings.
 */
@media screen and (max-width: 44.9375em) {
  .u-1\/1-palm {
    width: 100% !important; }
  .u-1\/2-palm {
    width: 50% !important; }
  .u-1\/3-palm {
    width: 33.3333333333% !important; }
  .u-2\/3-palm {
    width: 66.6666666667% !important; }
  .u-1\/4-palm {
    width: 25% !important; }
  .u-2\/4-palm {
    width: 50% !important; }
  .u-3\/4-palm {
    width: 75% !important; }
  .u-1\/5-palm {
    width: 20% !important; }
  .u-2\/5-palm {
    width: 40% !important; }
  .u-3\/5-palm {
    width: 60% !important; }
  .u-4\/5-palm {
    width: 80% !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .u-1\/1-lap {
    width: 100% !important; }
  .u-1\/2-lap {
    width: 50% !important; }
  .u-1\/3-lap {
    width: 33.3333333333% !important; }
  .u-2\/3-lap {
    width: 66.6666666667% !important; }
  .u-1\/4-lap {
    width: 25% !important; }
  .u-2\/4-lap {
    width: 50% !important; }
  .u-3\/4-lap {
    width: 75% !important; }
  .u-1\/5-lap {
    width: 20% !important; }
  .u-2\/5-lap {
    width: 40% !important; }
  .u-3\/5-lap {
    width: 60% !important; }
  .u-4\/5-lap {
    width: 80% !important; } }

@media screen and (min-width: 45em) {
  .u-1\/1-lap-and-up {
    width: 100% !important; }
  .u-1\/2-lap-and-up {
    width: 50% !important; }
  .u-1\/3-lap-and-up {
    width: 33.3333333333% !important; }
  .u-2\/3-lap-and-up {
    width: 66.6666666667% !important; }
  .u-1\/4-lap-and-up {
    width: 25% !important; }
  .u-2\/4-lap-and-up {
    width: 50% !important; }
  .u-3\/4-lap-and-up {
    width: 75% !important; }
  .u-1\/5-lap-and-up {
    width: 20% !important; }
  .u-2\/5-lap-and-up {
    width: 40% !important; }
  .u-3\/5-lap-and-up {
    width: 60% !important; }
  .u-4\/5-lap-and-up {
    width: 80% !important; } }

@media screen and (max-width: 63.9375em) {
  .u-1\/1-portable {
    width: 100% !important; }
  .u-1\/2-portable {
    width: 50% !important; }
  .u-1\/3-portable {
    width: 33.3333333333% !important; }
  .u-2\/3-portable {
    width: 66.6666666667% !important; }
  .u-1\/4-portable {
    width: 25% !important; }
  .u-2\/4-portable {
    width: 50% !important; }
  .u-3\/4-portable {
    width: 75% !important; }
  .u-1\/5-portable {
    width: 20% !important; }
  .u-2\/5-portable {
    width: 40% !important; }
  .u-3\/5-portable {
    width: 60% !important; }
  .u-4\/5-portable {
    width: 80% !important; } }

@media screen and (min-width: 64em) {
  .u-1\/1-desk {
    width: 100% !important; }
  .u-1\/2-desk {
    width: 50% !important; }
  .u-1\/3-desk {
    width: 33.3333333333% !important; }
  .u-2\/3-desk {
    width: 66.6666666667% !important; }
  .u-1\/4-desk {
    width: 25% !important; }
  .u-2\/4-desk {
    width: 50% !important; }
  .u-3\/4-desk {
    width: 75% !important; }
  .u-1\/5-desk {
    width: 20% !important; }
  .u-2\/5-desk {
    width: 40% !important; }
  .u-3\/5-desk {
    width: 60% !important; }
  .u-4\/5-desk {
    width: 80% !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1\/1-retina {
    width: 100% !important; }
  .u-1\/2-retina {
    width: 50% !important; }
  .u-1\/3-retina {
    width: 33.3333333333% !important; }
  .u-2\/3-retina {
    width: 66.6666666667% !important; }
  .u-1\/4-retina {
    width: 25% !important; }
  .u-2\/4-retina {
    width: 50% !important; }
  .u-3\/4-retina {
    width: 75% !important; }
  .u-1\/5-retina {
    width: 20% !important; }
  .u-2\/5-retina {
    width: 40% !important; }
  .u-3\/5-retina {
    width: 60% !important; }
  .u-4\/5-retina {
    width: 80% !important; } }

/*# sourceMappingURL=main.css.map */
