/* =======================
   Base/Type
   ======================= */

/**
 * Typographical base selectors.
 */

/**
 * Headings 1–6.
 */
@include headings() {
    @include font-weight(regular);
}



/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
    @include font-size(22px);
}

.heading-sub {
    @include font-size(16px);
    @include font-weight(bold);
    margin-bottom: 0;
}
