/* =======================
   Base/Page
   ======================= */

html {
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    &.no-scroll {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

html, body {
    height: 100%;
}

    body {
        &.pushed {
            left: 0;
            overflow: hidden;
            position: relative;
            transition: $base-transition;
        }

        &.body--bg-footer-color {
            background: $footer-bg-color;
        }

        &.body--404 .page-head__right {
            display: none;
        }
    }