/* =======================
   Base/Fonts
   ======================= */

@font-face {
    font-family: "Noto-Serif";
    src: 	 url("/assets/fonts/Noto-Serif/NotoSerif.eot");
    src: 	 url("/assets/fonts/Noto-Serif/NotoSerif.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Noto-Serif/NotoSerif.woff") format("woff"),
    url("/assets/fonts/Noto-Serif/NotoSerif.ttf") format("truetype"),
    url("/assets/fonts/Noto-Serif/NotoSerif.svg#LLCircularWeb-Bold") format("svg");
}

@font-face {
    font-family: "Univers";
    src: 	 url("/assets/fonts/Univers/Univers.eot");
    src: 	 url("/assets/fonts/Univers/Univers.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Univers/Univers.woff") format("woff"),
    url("/assets/fonts/Univers/Univers.ttf") format("truetype"),
    url("/assets/fonts/Univers/Univers.svg#LLCircularWeb-Book") format("svg");
}

@font-face {
    font-family: "Univers-Light";
    src: 	 url("/assets/fonts/Univers-Light/Univers-Light.eot");
    src: 	 url("/assets/fonts/Univers-Light/Univers-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Univers-Light/Univers-Light.woff") format("woff"),
    url("/assets/fonts/Univers-Light/Univers-Light.ttf") format("truetype"),
    url("/assets/fonts/Univers-Light/Univers-Light.svg#LLCircularWeb-Book") format("svg");
}

@font-face {
    font-family: "Univers-Bold";
    src: 	 url("/assets/fonts/Univers-Bold/Univers-Bold.eot");
    src: 	 url("/assets/fonts/Univers-Bold/Univers-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Univers-Bold/Univers-Bold.woff") format("woff"),
    url("/assets/fonts/Univers-Bold/Univers-Bold.ttf") format("truetype"),
    url("/assets/fonts/Univers-Bold/Univers-Bold.svg#LLCircularWeb-Book") format("svg");
}

@font-face {
    font-family: "Calibri";
    src: 	 url("/assets/fonts/Calibri/Calibri.eot");
    src: 	 url("/assets/fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Calibri/Calibri.woff") format("woff"),
    url("/assets/fonts/Calibri/Calibri.ttf") format("truetype"),
    url("/assets/fonts/Calibri/Calibri.svg#LLCircularWeb-Book") format("svg");
}