/* =======================
   Components/Entry Header
   ======================= */

.entry-header {
    position: relative;
}

    .entry-header__gradient {
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0) 81%,rgba(0,0,0,0.5) 100%);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .entry-header__text-block {
        position: absolute;
        bottom: $spacing-unit;
        left: $spacing-unit;
        right: $spacing-unit;
        z-index: 100;
        @include media-query(desk) {
            bottom: $spacing-unit--large;
            left: $spacing-unit * 3;
            right: $spacing-unit--large;
        }
    }

        .entry-header__day {
            color: $color-white;
            font-family: "Univers-Bold";
            margin-bottom: $spacing-unit--small * 0.5;
            text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .2);
            @include font-size(20px, 1.4);
            @include media-query(lap-and-up) {
                margin-bottom: $spacing-unit--small;
                @include font-size(30px, 1);
            }
            @include media-query(desk) {
                margin-bottom: $spacing-unit;
                @include font-size(40px, 1);
            }
        }
    
        .entry-header__title {
            color: $color-white;
            font-family: "Univers-Bold";
            margin-bottom: 0;
            max-width: 80%;
            text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .2);
            @include font-size(40px, 1);
            @include media-query(lap-and-up) {
                @include font-size(60px, 1);
            }
            @include media-query(desk) {
                max-width: 60%;
                @include font-size(80px, 1);
            }
        }