/* =======================
   Components/Overlay
   ======================= */

.overlay {
    background: $color-white;
    height: 100%;
    opacity: 0;
    position: fixed;
    transition: $base-transition;
    width: 100%;
    visibility: hidden;
    z-index: 1000;

    &.pushed {
        opacity: 0.9;
        transform: translateX(-$nav-width);
        visibility: visible;
    }
}