/* =======================
   Components/Story
   ======================= */

.story {
    color: $story-color;
    font-family: "Calibri";
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 600px;
    padding-top: $spacing-unit--large * 2 !important;
    padding-bottom: $spacing-unit--large * 2 !important;
    @include font-size(18px);

    @include media-query(lap-and-up) {
        padding-top: $spacing-unit--large * 4 !important;
        padding-bottom: $spacing-unit--large * 4 !important;
    }
    @include media-query(desk) {
        padding-top: $spacing-unit--large * 5 !important;
        padding-bottom: $spacing-unit--large * 5 !important;
    }
}

    .story p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .story a {
        border-bottom: 1px solid $about-contents-color;
        color: $about-contents-color;
        display: inline-block;
        font-family: "Calibri";
        transition: $base-transition;
        @include font-size(18px);
    
        &:focus, &:hover {
            border-bottom: 1px solid $color-dark-grey;
            color: $color-dark-grey;
            text-decoration: none;
        }
    }
    
    .story li {
        line-height: 1.2;
        margin-bottom: $spacing-unit--small;
    }