/* =======================
   Components/Container
   ======================= */

.container {
    height: 100%;
    left: 0;
    position: relative;
    transition: $base-transition;

    &.pushed {
        transform: translateX(-$nav-width);
    }
}
