/* =======================
   Components/Grid
   ======================= */

[class*='col-'] {
    float: left;
}

.grid {
    width: 100%;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.mobile-col-1-1 {
    width: 100%;
}

@include media-query(lap-and-up) {
    .col-1-2 {
        width: 50%;
    }
}
