/* =======================
   Components/Page Foot
   ======================= */

.page-foot {
    background: $footer-bg-color;
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--large;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @include media-query(lap-and-up) {
        padding-top: $spacing-unit * 3;
        padding-bottom: $spacing-unit * 3;
    }
}

    .page-foot__inner {
        margin: 0 auto;
        max-width: 980px;
    }