/* =======================
   Components/Nav
   ======================= */
$nav-width: 320px;

.nav {
    color: $color-white;
    background: $nav-bg-color;
    height: 100%;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX($nav-width);
    transition: $base-transition;
    width: $nav-width;

    &.pushed {
        transform: translateX(0);
    }
}

    .nav__inner {
        padding: 26px $spacing-unit;
    }

        .nav__header-title {
            font-family: 'Calibri';
            letter-spacing: 0.06em;
            margin-bottom: $spacing-unit;
            text-transform: uppercase;
            @include font-size(21px,1);
        }

            .nav__list {
                margin-left: 0;
                margin-bottom: 0;
            }

                .nav__item {
                    list-style: none;
                    margin-bottom: $spacing-unit * 1.5;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                    .nav__link {
                        display: block;
                        &:focus .nav__day, &:hover .nav__day,
                        &:focus .nav__title, &:hover .nav__title {
                            opacity: 0.9;
                        }

                        &:focus .nav__overlay, &:hover .nav__overlay {
                            background: rgba(0,0,0,0.3);
                        }
                    }

                        .nav__crop {
                            height: 153px;
                            margin-bottom: $spacing-unit--small;
                            overflow: hidden;
                            position: relative;
                        }

                            .nav__overlay {
                                background: rgba(0,0,0,0.7);
                                height: 100%;
                                position: absolute;
                                transition: $base-transition;
                                width: 100%;
                            }

                            .nav__image {
                                transition: $base-transition;
                            }
                        
                        .nav__day {
                            color: $color-white;
                            font-family: "Univers-Bold";
                            margin-bottom: 0;
                            opacity: 0.6;
                            padding-bottom: 4px;
                            transition: $base-transition;
                            @include font-size(14px, 1);
                        }

                        .nav__title {
                            color: $color-white;
                            font-family: "Univers-Bold";
                            margin-bottom: 0;
                            opacity: 0.6;
                            transition: $base-transition;
                            @include font-size(15px, 1.4);
                        }
