/* =======================
   Components/404 Page
   ======================= */

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

    .not-found__overlay {
        background: $color-black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .not-found__inner {
        display: table;
        height: 100%;
        max-width: 420px;
        margin: 0 auto;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;

/*
        @include media-query(lap-and-up) {
            max-width: 480px;
        }
*/
    }

        .not-found__block {
            color: $color-white;
            display: table-cell;
            font-family: "Univers-Bold";
            height: 100%;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }

            .not-found__title {
                letter-spacing: .06em;
                margin-bottom: $spacing-unit--small;
                @include font-size(140px, 1);
            }
            
            .not-found__subtitle {
                @include font-size(24px, 1);
            }

            .not-found__text {
                font-family: 'Calibri';
                @include font-size(20px, 1.2);
            }

            .not-found__link {
                border-bottom: 1px solid $color-white;
                color: $color-white;
                font-family: 'Calibri';
                transition: $base-transition;
                @include font-size(20px, 1.2);

                &:focus, &:hover {
                    border-bottom: 1px solid rgba(255,255,255,0);
                }
            }