/* =======================
   Components/Archives
   ======================= */
.archives {
    background: $footer-bg-color;
    margin: 0;
}

    .archives__block {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

        .archives__list {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
    
            .archives__link {
                height: 100%;
                margin: 0;
                width: 100%;
    
                &:focus, &:hover {
                    text-decoration: none;
                }
    
                &:focus .archives__image, &:hover .archives__image {
                    transform: translateZ(0) scale(1.04, 1.04);
                }

                &:focus .archives__period--date, &:hover .archives__period--date {
                    opacity: 1;
                    left: -27.5%;
                }

                &:focus .archives__period--year, &:hover .archives__period--year {
                    opacity: 1;
                    right: -27.5%;
                }
            }
    
                .archives__overlay {
                    background: $color-black;
                    height: 100%;
                    opacity: .36;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }

                .archives__image {
                    backface-visibility: hidden;
                    display: block;
                    height: auto;
                    max-width: 100%;
                    position: relative;
                    transition: transform 0.4s;
                    transform: translateZ(0) scale(1,1);
                    vertical-align: top;
                    z-index: 0;
                }
    
                .archives__caption {
                    top: 51%;
                    color: $color-white;
                    height: auto;
                    padding: $spacing-unit  $spacing-unit--large;
                    position: absolute;
                    text-align: center;
                    transform: translate3d(0,-50%,0);
                    width: 100%;
                    z-index: 2;

                    @include media-query(lap-and-up) {
                    }
                }

                    .archives__day {
                        font-family: "Univers";
                        @include font-size(18px, 1.4);
                    }

                    .archives__title {
                        font-family: "Univers-Bold";
                        margin-bottom: 0;
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        @include font-size(22px, 1.2);
                    }

                .archives__period {
                    color: $color-white;
                    letter-spacing: 0.02em;
                    font-family: "Univers";
                    font-smoothing: antialiased;
                    margin: 27.5% 0 0 0;
                    opacity: 1;
                    outline: 1px solid transparent;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    transform-origin: 50% 51%;
                    transition: opacity 400ms linear,right 400ms ease,left 400ms ease;
                    width: 56.25%;
                    z-index: 2;
                    @include font-size(16px, 1.4);
                }

                .archives__period--date {
                    backface-visibility: hidden;
                    transform: translateZ(0)  rotateZ(270deg) translate3d( 0, 0, 0);
                    left: -40%;
                    margin-left: 30px;
                }
                
                .archives__period--year {
                    backface-visibility: hidden;
                    transform: translateZ(0) rotateZ(90deg) translate3d( 0, 0, 0);
                    margin-right: 30px;
                    right: -40%;
                }