/* =======================
   Components/Page Head
   ======================= */

.page-head {
    position: fixed;
    top: 0;
    transition: $base-transition;
    transform: translateX(0);
    user-select: none;
    width: 100%;
    z-index: 10000;
}

    .page-head__item {
        height: 22px;
        position: absolute;
        top: $spacing-unit;
    }

    .page-head__left {
        left: $spacing-unit;
        transition: $base-transition;

        &.pushed {
            transform: translateX(-$nav-width);
        }
    }

    .page-head__right {
        right: $spacing-unit;

        &.hide {
            opacity: 0;
            visibility: hidden;
        }
    }

        .page-head__icon {
            display: inline-block;
        }

        .page-head__title {
            color: $color-white;
            font-family: 'Calibri';
            left: 0;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            @include font-size(34px, 1);

            &.color-black {
                color: $nav-bg-color;
            }
        }
    
            .page-head__title-link {
                color: inherit;
                transition: all 200ms ease;
        
                &:focus, &:hover {
                    @include font-size(28px, 1);
                    text-decoration: none;
                }
            }