/* =======================
   Components/Content Block
   ======================= */

.content-block {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    padding-top: 0;
    padding-bottom: $spacing-unit--large;

    &:first-child {
        padding-top: $spacing-unit--large * 2;
    }

    @include media-query(lap-and-up) {
        padding-bottom: $spacing-unit--large * 2;
    }

    @include media-query(desk) {
        padding-left: 0;
        padding-right: 0;
    }


    &.image--full-width {
        padding-left: 0;
        padding-right: 0;
    }
}