/* =======================
   Components/Archive Icon
   ======================= */

.archive-icon {
    height: 18px;
    transition: all 150ms ease;
    width: 18px;

    &:focus .archive-icon__block, &:hover .archive-icon__block {
        margin-bottom: 0;
    }

    &:focus .archive-icon__item, &:hover .archive-icon__item {
        margin-right: 0;
    }
}

    .archive-icon__block {
        height: 4px;
        margin-bottom: 3px;
        transition: all 150ms ease;

        &:last-child {
            margin-bottom: 0;
        }
    }

        .archive-icon__item {
            background: $color-white;
            height: 4px;
            float: left;
            margin-right: 3px;
            transition: all 150ms ease;
            width: 4px;

            &:last-child{
                margin-right: 0;
            }

            &.open {
                background: $nav-bg-color;
            }

            &.color-black {
                background: $nav-bg-color;
            }

            &.color-white {
                background: $color-white;
            }
        }