/* =======================
   Components/Image
   ======================= */
.image {
    margin: 0 auto;
}

.image--small {
    max-width: 480px;
}

.image--medium {
    max-width: 980px;
}

.image--full-width img {
    width: 100%;
}

    .image__caption {
        color: $image-caption-color;
        display: block;
        font-family: "Calibri";
        letter-spacing: 0.02em;
        max-width: 320px;
        padding-top: $spacing-unit--small * 0.5;
        padding-bottom: $spacing-unit--small * 0.5;
        @include font-size(18px);
    }