/* =======================
   Components/Responsive Image
   ======================= */

    .responsive-image__inner {
        position: absolute;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

        .responsive-image__overlay {
            background: rgba(0,0,0,0.65);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
        }