/* =======================
   Components/Video
   ======================= */

.video {
    margin: 0 auto;
    max-width: 980px;
}

    .video__inner {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    
        .video__inner iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }