/* =======================
   Components/Hamburger Menu
   ======================= */

.hamburger-menu {
    cursor: pointer;
    height: 20px;
    margin-left: $spacing-unit--small;
    transform: rotate(0);
    transition: $base-transition;
    width: 22px;

    &.open span {
        &:nth-child(1) {
            top: 10px;
            transform: rotate(135deg);
        }
    
        &:nth-child(2) {
            opacity: 0;
            left: 12px !important;
        }
    
        &:nth-child(3) {
            top: 10px;
            transform: rotate(-135deg);
        }

        &.color-white {
            background: $color-white;
        }
    }

    &:hover {
        & span:nth-child(2) {
            width: 14px;
            left: 4px;
        }
    }
}

    .hamburger-menu span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $color-white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all 200ms ease;


        &:nth-child(1) {
            top: 3px;
        }
        
        &:nth-child(2) {
            top: 10px;
        }
        
        &:nth-child(3) {
            top: 17px;
        }

        &.color-black {
            background: $nav-bg-color;
        }
    }
