/* =======================
   Components/Preloader
   ======================= */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

    .preloader__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -19px;
        margin-top: -24px;
        z-index: 1001;
    }

        .preloader__bar {
            background-color: $color-black;
            display: inline-block;
            width: 6px;
            height: 36px;
            animation: loading 1s ease-in-out infinite;

            &:nth-child(1) {
                animation-delay: 0;
            }
    
            &:nth-child(2) {
                animation-delay: 0.09s;
            }
    
            &:nth-child(3) {
                animation-delay: .18s;
            }
    
            &:nth-child(4) {
                animation-delay: .27s;
            }
        }

        @keyframes loading {
            0% { transform: scale(1); }
            20% { transform: scale(1, 1.8); }
            40% { transform: scale(1); }
        }

    .preloader__overlay {
        background: $color-white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        transform: translateX(0);
    }


    /* After Loaded */
    .loaded {
        .preloader__overlay {
            opacity: 0;
            transition: all 0.5s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
        
        .preloader {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s 1s ease-out;
        }
        
        .preloader__inner {
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }
