/* =======================
   Components/Pagination
   ======================= */
.pagination {
    
}

    .pagination__link {
        background: $color-black;
    
        &:focus .pagination__overlay, &:hover .pagination__overlay {
            opacity: 0.5;
        }
    
        &:focus .pagination__image, &:hover .pagination__image {
            transform: scale(1.05, 1.05);
        }
    }
    
        .pagination__inner {
            position: relative;
            overflow: hidden;
        }
        
            .pagination__block {
                display: inline-block;
                position: relative;
                padding: $spacing-unit--large $spacing-unit;
                width: 100%;
                z-index: 10;
    
                @include media-query(lap-and-up) {
                    padding: $spacing-unit--large * 1.5 $spacing-unit;
                }
            }
        
                .pagination__overlay {
                    background: $color-black;
                    height: 100%;
                    opacity: 0.55;
                    position: absolute;
                    transition: all 400ms ease;
                    width: 100%;
                    z-index: 10;
                }
    
                .pagination__image {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transition: all 400ms ease;
                    transform: scale(1, 1);
                    z-index: 0;
                }
    
                .pagination__text {
                    color: $color-white;
                    display: block;
                    font-family: "Univers-Bold";
                    margin-bottom: $spacing-unit;
                    @include font-size(16px, 1);
    
                    @include media-query(lap-and-up) {
                        margin-bottom: $spacing-unit * 1.5;
                    }
    
                    &.pagination__text--next {
                        text-align: right;
                    }
                }
    
                .pagination__day {
                    color: $color-white;
                    font-family: "Univers-Bold";
                    margin-bottom: $spacing-unit--small;
                    @include font-size(20px, 1);
    
                    @include media-query(lap-and-up) {
                        @include font-size(24px, 1);
                    }
    
                    &.pagination__day--next {
                        text-align: right;
                    }
                }
    
                .pagination__title {
                    color: $color-white;
                    float: left;
                    font-family: "Univers-Bold";
                    margin-bottom: 0;
                    max-width: 82%;
                    @include font-size(30px, 1.1);
    
                    @include media-query(lap-and-up) {
                        max-width: 70%;
                        @include font-size(50px, 1.1);
                    }
    
                    @include media-query(desk) {
                        max-width: 55%;
                    }
    
                    &.pagination__title--next {
                        text-align: right;
                        float: right;
                    }
                }