/* =======================
   Components/About
   ======================= */

.about {
    padding-bottom: $spacing-unit--large;
    @include font-size(16px);
    @include media-query(desk) {
        padding-bottom: 0;
    }

    &.about--me {
        padding-bottom: 0;
    }
}

    .about__title {
        color: $about-title-color;
        font-family: "Univers-Bold";
        margin-bottom: 0;
        @include font-size(16px);
    }

    .about__border {
        margin-bottom: 0;
        max-width: 20px;
        padding-top: $spacing-unit--small;
        padding-bottom: $spacing-unit--small;
    }

    .about__content {
        color: $about-contents-color;
        font-family: "Calibri";
        margin-bottom: $spacing-unit--small;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .about__link-list {
        list-style: none;
        margin: 0;
    }

    .about__link {
        border-bottom: 1px solid $about-contents-color;
        color: $about-contents-color;
        display: inline-block;
        font-family: "Calibri";
        transition: $base-transition;
        @include font-size(16px, 1);

        &:focus, &:hover {
            border-bottom: 1px solid $color-dark-grey;
            color: $color-dark-grey;
            text-decoration: none;
        }
    }