/* =======================
   Settings/Colors
   ======================= */

$color-white:       #FFF;
$color-black:       #000;
$color-light-grey:  #797979;
$color-grey:        #666666;
$color-dark-grey:   #333333;


// Page
$base-background-color:   $color-white;
$base-text-color:         $color-black;

// Nav
$nav-bg-color:      #1C1C1C;

// Image Caption
$image-caption-color: $color-light-grey;
$caption-bg-color: $nav-bg-color;

// Story
$story-color:       $color-light-grey;

// Footer
$footer-bg-color:   #F9F9F9;
$about-title-color: $color-grey;
$about-contents-color:    $color-light-grey;