{% if entry.hasDescendants() %}
  {% redirect entry.getChildren().first().url %}
{% else %}
    <nav class="nav">
        <div class="nav__inner">
            <h2 class="nav__header-title">Archives</h2>
            <ul class="nav__list">
                {% if entry.parent() %}
                    {% for sibling in entry.parent().children() %}
                        <li class="nav__item">
                            <a href="{{ sibling.url }}" class="nav__link">
                                <div class="nav__crop">
                                    <div class="nav__overlay"></div>
                                    {% if entry.headerImage | length %}
                                        <img src="{{ sibling.headerImage.asset.first().getUrl('navThumbnail') }}" alt="" class="nav__image" />
                                    {% endif %}
                                </div>
                                {% if entry.day | length %}
                                    <h2 class="nav__day">{{ sibling.day }}</h2>
                                {% endif %}
                                {% if entry.title | length %}
                                    <h2 class="nav__title">{{ sibling.title }}</h2>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="main-contents">
            <div class="entry-header">
                {% if entry.headerImage | length %}
                    <div class="responsive-image">
                        <div class="entry-header__gradient"></div>
                        <div class="responsive-image__inner">
                            <img src="{{ entry.headerImage.asset.first().getUrl('headerImage') }}"  width="{{ entry.headerImage.first().getWidth('headerImage') }}" height="{{ entry.headerImage.first().getHeight('headerImage') }}" alt="" class="responsive-image__item" />
                        </div>
                    </div>
                {% endif %}
                <div class="entry-header__text-block">
                    {% if entry.day | length %}
                        <h2 class="entry-header__day">{{entry.day}}</h2>
                    {% endif %}
                    {% if entry.title | length %}
                        <h1 class="entry-header__title">{{entry.title}}</h1>
                    {% endif %}
                </div>
            </div>

            <div class="entry-contents">
                {% for block in entry.contents %}
                    {% if block.type == "story" %}
                        <div class="content-block  story">{{block.text}}</div>
                    {% endif %}
                    {% if block.type == "smallImage" %}
                        <div class="content-block  image  image--small">
                            <img src="{{ block.image.first().getUrl('w600CropCenterCenter') }}" alt="" />
                            {% if block.caption | length %}
                                <span class="image__caption">{{ block.caption }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.type == "mediumImage" %}
                        <div class="content-block  image  image--medium">
                            <img src="{{ block.image.first().getUrl('w980CropCenterCenter') }}" alt="" />
                            {% if block.caption | length %}
                                <span class="image__caption">{{ block.caption }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.type == "fullWidthImage" %}
                        <div class="content-block  image  image--full-width">
                            <img src="{{ block.image.first().getUrl() }}" alt="" />
                            {% if block.caption | length %}
                                <span class="image__caption">{{ block.caption }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.type == "video" %}
                        <div class="content-block  video">
                            <div class="video__inner">
                                {% if block.vimeoVideoId | length %}
                                    <iframe src="https://player.vimeo.com/video/{{ block.vimeoVideoId }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                {% else %}
                                    <iframe src="https://www.youtube.com/embed/{{ block.youtubeVideoId }}" frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                            </div>
                            {% if block.caption | length %}
                                <span class="image__caption">{{ block.caption }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% set params = craft.entries.section('blog').level(2) %}

            {% set prevEntry = entry.getNextSibling(params) %}
            {% set nextEntry = entry.getPrevSibling(params) %}

            <div class="pagination">
                {% if nextEntry %}
                    <a href="{{ nextEntry.url }}" class="pagination__link  pagination--next">
                        <div class="pagination__inner">
                            <div class="pagination__overlay"></div>
                            {% if nextEntry.headerImage | length %}
                                <div class="pagination__image"  style="background-image:url({{ nextEntry.headerImage.asset.first().getUrl() }});"></div>
                            {% endif %}
                            <div class="pagination__block  pagination__block--next">
                                <span class="pagination__text  pagination__text--next">Next</span>
                                {% if nextEntry.day | length %}
                                    <h2 class="pagination__day  pagination__day--next">{{nextEntry.day}}</h2>
                                {% endif %}
                                {% if nextEntry.title | length %}
                                    <h2 class="pagination__title  pagination__title--next">{{ nextEntry.title }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% if prevEntry %}
                    <a href="{{ prevEntry.url }}" class="pagination__link  pagination--prev">
                        <div class="pagination__inner">
                            <div class="pagination__overlay"></div>
                            {% if prevEntry.headerImage | length %}
                                <div class="pagination__image"  style="background-image:url({{ prevEntry.headerImage.asset.first().getUrl() }});"></div>
                            {% endif %}
                            <div class="pagination__block  pagination__block--prev">
                                <span class="pagination__text  pagination__text--prev">Previous</span>
                                {% if prevEntry.day | length %}
                                    <h2 class="pagination__day  pagination__day--prev">{{prevEntry.day}}</h2>
                                {% endif %}
                                {% if prevEntry.title | length %}
                                    <h2 class="pagination__title  pagination__title--prev">{{ prevEntry.title }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        {% include 'partials/_footer' %}
    </div>
{% endif %}
