<footer class="page-foot">
    <div class="page-foot__inner">
        <div class="layout  layout--huge">
            <div class="layout__item  u-1/1  u-2/3-desk">
                <div class="about">
                    <h2 class="about__title">About this photolog</h2>
                    <div class="about__border"><hr></div>
                    <p class="about__content">
                        Since I saw <a href="http://danielstenberg.com/blog/" target="_blank" class="about__link">
                        Daniel Stenberg</a>'s and <a href="http://ayearinaninstant.com/" target="_blank" class="about__link">
                        Nuno Coelho Santos</a>'s beautiful photographs, I started to think of recording my daily life with my camera.
                    </p>
                    <p class="about__content">
                        Also many people visit to Japan these days. Their perspectives are really interesting and
                        so different with mine (I am Japanese by the way).
                        Their photographs tell many stories which are very fascinating and inspiring me.
                        I am going back to Japan soon for holiday after a long time so I decided to start this photolog
                        from now on. I'm really excited to see how things in Japan became different since I left.
                    </p>
                    <p class="about__content">
                        If you have any enquery, drop me a line from <a href="mailto:sekkithub@gmail.com" class="about__link">here</a>.
                    </p>
                </div>
            </div><div class="layout__item  u-1/1  u-1/3-desk">
                <div class="about  about--me">
                    <h2 class="about__title">About me</h2>
                    <div class="about__border"><hr></div>
                    <p class="about__content">
                        I am Masato, currently live in Manchester and work for <a href="http://the-neighbourhood.com" target="_blank" class="about__link">The Neighbourhood</a>.
                        You can also find me on Instagram or twitter below:
                    </p>
                    <ul class="about__link-list">
                        <li><a href="https://www.instagram.com/sekkithub/" target="_blank" class="about__link">Instagram</a></li>
                        <li><a href="https://twitter.com/sekkithub" target="_blank" class="about__link">twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
