{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% set bodyClass = 'body--404' %}
{% block bodyClass %}
    {% if bodyClass is defined %}
        <body class="{{ bodyClass }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="not-found">
        <div class="not-found__inner">
            <div class="not-found__block">
                <h1 class="not-found__title">404</h1>
                <h2 class="not-found__subtitle">Page not found</h2>
                <p class="not-found__text">Sorry we can't find the page you're looking for</p>
                <a href="{{ siteUrl }}" class="not-found__link">Go back home</a>
            </div>
        </div>
    </div>
    <div class="responsive-image">
        <div class="responsive-image__overlay"></div>
        <div class="responsive-image__inner">
            <img src="/assets/images/404.jpg" width="1280" height="960" alt="" class="responsive-image__item" />
        </div>
    </div>
    {% include 'partials/_footer' %}
{% endblock %}
