<!DOCTYPE html>
<html class="no-js  no-scroll">
<head>
  {% hook 'seomaticRender' %}
  <link rel="stylesheet" href="/css/main.css" media="screen, projection"/>
</head>

<body class="{{ bodyClass is defined ? bodyClass }}">
    <div class="preloader">
        <div class="preloader__inner">
            <div class="preloader__bar"></div>
            <div class="preloader__bar"></div>
            <div class="preloader__bar"></div>
            <div class="preloader__bar"></div>
        </div>
        <div class="preloader__overlay"></div>
    </div>

    <header class="page-head">
        <div class="page-head__item  page-head__left">
            <h1 class="page-head__title">
                <a href="{{siteUrl}}" class="page-head__title-link">ö</a>
            </h1>
        </div>
        <div class="page-head__item  page-head__right  {% if craft.request.firstSegment == "archives" %}hide{% endif %}">
            <a class="page-head__icon  archive-icon" href="/archives">
                <div class="archive-icon__block">
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                </div>
                <div class="archive-icon__block">
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                </div>
                <div class="archive-icon__block">
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                    <span class="archive-icon__item"></span>
                </div>
            </a>
            <div class="page-head__icon  hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div class="overlay"></div>
    {% block content %}
    {% endblock %}
    <script src="/js/main.js"></script>
</body>
</html>
