{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% set headerImage = {
    width: 1280,
    height: 720,
    mode: 'crop',
    position: 'center-center'
} %}

{% set navThumbnail = {
    width: 640,
    height: 360,
    mode: 'crop',
    position: 'center-center'
} %}

{% set w600CropCenterCenter = {
    width: 600,
    mode: 'crop',
    position: 'center-center'
} %}

{% set w980CropCenterCenter = {
    width: 980,
    mode: 'crop',
    position: 'center-center'
} %}


{% block content %}
    {% for entry in craft.entries.section('blog').level(2).limit(1) %}
        {% include 'partials/_entry' %}
    {% endfor %}
{% endblock %}
